/* Google Font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* { box-sizing: border-box; }
html, body { 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
    height: 100vh; 
    background: #000000; 
    font-family: "Poppins", sans-serif; 
}

.copy-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #04AA6D; /* Color verde */
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 10;
}

/* Other styles... */
/* Text Overlay */
.text-overlay { 
    position: absolute; 
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 20px; 
    color: white; 
    text-align: center; 
    z-index: 2; 
    animation: fadeIn 2s; 
}

/* Input Container */
.input-container { 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white; 
    text-align: center; 
}

/* Input Field */
#cookieInput { 
    width: 300px; 
    padding: 10px; 
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.1); 
    color: white; 
    font-size: 18px; 
    transition: border-color 0.3s; 
}

/* External Navigation */
.navigation { 
    position: fixed; 
    top: 5px; 
    right: 10px; 
}

.nav-list { 
    list-style-type: none; 
}

.nav-list > li { 
    display: inline-block; 
}

.nav-list > li > a { 
    display: block; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 10px; 
    transition: background 0.5s, opacity 0.5s; 
    opacity: 0.5; 
}

.nav-list > li > a:hover { 
    background-color: blue; 
    color: white; 
    opacity: 1.0; 
}
