html, body {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100vh; /* Fill the viewport height */
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%; /* Ensure it covers the full width */
    height: 100%; /* Ensure it covers the full height */
}

/* Cambios en .text-overlay */
.text-overlay {
    position: absolute;
    top: 15%; /* Ajusta la posición hacia arriba */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Cambia el tamaño de la fuente al mismo del label */
    color: white; /* Cambia esto al color del label si es diferente */
    text-align: center;
    z-index: 2; /* Asegúrate de que el texto esté por encima del canvas */
    font-family: Arial, sans-serif; /* Asegúrate de que la fuente sea la misma */
}


.input-container {
    position: absolute;
    top: 40%; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white; /* Color para la etiqueta */
    text-align: center;
}

/* Asegúrate de que .input-container label mantenga el mismo estilo */
.input-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px; /* Mantenlo igual para consistencia */
    color: white; /* Color para el label */
}

#cookieInput {
    width: 300px; /* Ancho del input */
    padding: 10px; /* Relleno para el input */
    border: 1px solid #ffffff; /* Color del borde */
    border-radius: 5px; /* Radio del borde del input */
    background: rgba(255, 255, 255, 0.1); /* Fondo claro */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    transition: border-color 0.3s; /* Transición para el efecto hover */
}

#cookieInput::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Color del placeholder */
}

#cookieInput:hover {
    border-color: #00ff00; /* Cambia el color del borde al pasar el mouse */
}
